<mat-toolbar color="primary" id="header">
  <span>Slope Calculator</span>
  <span class="spacer"></span>
  <button mat-icon-button id="options-button" (click)="openSettingsDialog()" matTooltip="Configure settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div id="main">
  <mat-card class="card">
    <mat-tab-group>
      <mat-tab label="Single Slope">
        <div class="tab-container">
          <div class="instruction-text">
            <p>
              Enter elevation and length in the fields below.
              Click "Calculate" to view the resulting slope.
            </p>
          </div>
          <form id="slope-form" #slopeForm="ngForm">
            <div id="slope-calc-inputs-container">
              <mat-form-field class="slope-calc-form-field auto-width">
                <mat-label>Elevation (Y1)</mat-label>
                <input matInput type="number" min="0" [greaterThan]="0" required
                       #slopeCalcY1Input="ngModel" [(ngModel)]="slopeCalcY1" name="slopeCalcY1" />
                <mat-error *ngIf="slopeCalcY1Input.errors?.['required']">
                  Value is required
                </mat-error>
                <mat-error *ngIf="slopeCalcY1Input.errors?.['greaterThanError']">
                  Value must be > 0
                </mat-error>
              </mat-form-field>
              <mat-form-field class="slope-calc-form-field auto-width">
                <mat-label>Elevation (Y2)</mat-label>
                <input matInput type="number" min="0" [greaterThan]="0"
                       #slopeCalcY2Input="ngModel" [(ngModel)]="slopeCalcY2" name="slopeCalcY2" />
                <mat-error *ngIf="slopeCalcY2Input.errors?.['greaterThanError']">
                  Value must be > 0
                </mat-error>
              </mat-form-field>
              <mat-form-field class="slope-calc-form-field auto-width">
                <mat-label>Length (X)</mat-label>
                <input matInput type="number" min="0" [greaterThan]="0" required
                       #slopeCalcXInput="ngModel" [(ngModel)]="slopeCalcX" name="slopeCalcX" />
                <mat-error *ngIf="slopeCalcXInput.errors?.['required']">
                  Value is required
                </mat-error>
                <mat-error *ngIf="slopeCalcXInput.errors?.['greaterThanError']">
                  Value must be > 0
                </mat-error>
              </mat-form-field>
            </div>
            <div id="slope-calc-result-container">
              <button mat-raised-button type="button" color="accent" [disabled]="slopeForm.invalid"
                      (click)="calculateSlope()">Calculate</button>
              <p id="slope-calc-value" *ngIf="slopeCalc">Slope = {{ slopeCalc * 100 }}%</p>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Stepped Slope">
        <div class="tab-container">
          <app-stepped-slope></app-stepped-slope>
        </div>
      </mat-tab>

      <mat-tab label="Ranged Slope">
        <div class="tab-container">
          <app-ranged-slope></app-ranged-slope>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<footer>
  <div>&#169; {{ currentYear }}. All rights reserved.</div>
</footer>
