.dialog-container {
  text-align: left;
}

.section-title {
  padding-top: 16px;
}

.settings-row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}

.settings-form-field {
  flex: 1 0 auto;
  padding: 0 8px;
}
