@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-gray-palette, 800);
$my-accent: mat.define-palette(mat.$cyan-palette, 200, 100, 400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0
));

@include mat.all-component-themes($my-theme);
